<div class="box">
<mat-card-content>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Pesquisa</mat-label>
    <input matInput type="text" placeholder="Digite uma coleção"  [(ngModel)] = 'search'>
    <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button>
  <button (click)="openPutModal(colections)"><mat-icon>add</mat-icon></button>
</button>
     
     <br>
     <table>
      <tr>
        <th>ID</th>
        <th>coleção</th>
      </tr>
      <tr  *ngFor="let colections of colections  | filter : search">
          <td (click)="openPutModal(colections)">{{colections.id}}</td>
          <td (click)="openPutModal(colections)">{{colections.description}}</td>
      </tr>
  
     </table>
  </mat-card-content>
  </div>
  
