mat-card{
padding: 20px 20px;
text-transform: uppercase;
margin: 20px;}

h1{
    color: black;
}

mat-dialog-container{
    background-color: hidden;
    border: none;
    
}

.card:hover{
    background: #727272;
}
.but{
    border: none;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.buts{
    cursor: pointer;
    background: none;
    border: none;

}
