mat-card{
border: 2px solid rgb(0, 0, 0);
padding: 20px 20px;
text-transform: uppercase;
margin: 20px;}

h1{
    color: black;
}

mat-dialog-container{
    background-color: rgb(84, 84, 84);
    border: 2px solid rgb(0, 0, 0); 
}
button{
    border: hidden;  
    border: 2px solid rgb(0, 0, 0);
}
button:hover{
    background: #727272;
}