<div class="box">
    <mat-card-content>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Pesquisa</mat-label>
        <input matInput type="text" placeholder="Digite um grupo"  [(ngModel)] = 'search'>
        <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button>
      <button (click)="openPutModal(subgrupos)"><mat-icon>add</mat-icon></button>
    </button>
         
         <br>
         <table>
          <tr>
            <th>ID</th>
            <th>Descrição</th>
          </tr>
          <tr  *ngFor="let subgrupos of subgrupos  | filter : search">
            <ng-template [ngIf] = "subgrupos.fkGrupo != 0"> 
              <td (click)="openPutModal(subgrupos)">{{subgrupos.id}}</td>
              <td (click)="openPutModal(subgrupos)">{{subgrupos.description}}</td>
            </ng-template>
          </tr>
         </table>
      </mat-card-content>
      </div>
