    <mat-card>
        <mat-card-content *ngIf="htmladd ==2" >
        <mat-tab-group>  
        <mat-tab label="cadastro">
          <mat-card-actions class="but">
            
            <mat-card-title>
               <h1>Cadastrar</h1>
           </mat-card-title> 
            <button class="buts" (click)=" onNoClick()"><mat-icon>clear</mat-icon></button>
          </mat-card-actions>
           <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="Nome da Fantasia" [(ngModel)]="nomeFantasia">
           </mat-form-field>
             - 
            <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="CNPJ" [(ngModel)]="cnpj">
           </mat-form-field>
           <br>
            <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="Razão Social" [(ngModel)]="razaoSocial">
           </mat-form-field>
             - 
            <mat-form-field appearance="fill">
                    <mat-label>Cliente Desde</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
           <mat-card-actions>
             <button class="card" mat-raised-button color="black" (click)=" clientAdd()" >Cadastrar</button>
             <button mat-raised-button (click)="onNoClick()">Cancelar</button>
           </mat-card-actions>
            </mat-tab>
            <mat-tab label="Endereço">
              <mat-card-content>
                <mat-card-actions class="but">
            
                  <mat-card-title>
                     <h1>endereços</h1>
                 </mat-card-title> 
                  <button class="buts" (click)=" onNoClick()"><mat-icon>clear</mat-icon></button>
                </mat-card-actions>
                  <div mat-dialog-content>
                      <div class="create">
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>CEP</mat-label>
                                  <input matInput placeholder="Ex. 89253520" [(ngModel)]="cep">
                              </mat-form-field> -
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Rua</mat-label>
                                  <input matInput placeholder="Ex. rua dos lindos" [(ngModel)]="rua">
                              </mat-form-field>
  
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Bairro</mat-label>
                                  <input matInput placeholder="Ex. Jaraguá Esquerdo" [(ngModel)]="bairro">
                              </mat-form-field> - 
  
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Cidade</mat-label>
                                  <input matInput placeholder="Ex. Jaraguá do Sul" [(ngModel)]="cidade">
                              </mat-form-field>
  
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Estado</mat-label>
                                  <input matInput placeholder="Ex. Santa Catarina" [(ngModel)]="estado">
                              </mat-form-field> - 
  
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Complemento</mat-label>
                                  <input matInput placeholder="Ex. Apartamento 2" [(ngModel)]="complemento">
                              </mat-form-field>
  
                              <mat-form-field class="example-full-width" appearance="fill">
                                  <mat-label>Numero</mat-label>
                                  <input matInput placeholder="Ex. 115" [(ngModel)]="numero">
                              </mat-form-field>
              
                              <div mat-dialog-actions>
                                  <button mat-raised-button (click) = " addEndereco()">Confirmar</button>
                                  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
                              </div>
              
                      </div>
                  </div>
              </mat-card-content>
          </mat-tab>
          <mat-tab label="Adicionar">
            <div mat-dialog-actions>
                <button mat-raised-button (click) = "clientAdd()">Adicionar tudo</button>
                <button mat-raised-button (click)="onNoClick()">Cancelar</button>
            </div>
        </mat-tab>
          </mat-tab-group>
    </mat-card-content>
          

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab-group>
  <mat-tab label="editar/deletar">
    <mat-card-content *ngIf="htmladd ==1">
      <mat-card-actions class="but">
        <mat-card-title>
        <h1>Editar/Deletar</h1>
      </mat-card-title>
        <button class="buts" (click)=" onNoClick()"><mat-icon>clear</mat-icon></button>
      </mat-card-actions>
      

      <mat-form-field class="example-full-width" appearance="fill">
         <input matInput placeholder="Insira o ID" type="number" minlength="1" required [(ngModel)]="id">
      </mat-form-field><br>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Insira a nova nome da Fantasia" type="text"  minlength="1" required [(ngModel)]="nomeFantasia">
     </mat-form-field>
     <mat-card-actions>
        <button  class="card"mat-raised-button color="black"  (click)="putClient()">Editar</button>
          <button class="card" mat-raised-button color="black"  (click)="clientDelete()">Deletar</button>
        </mat-card-actions>
    </mat-card-content>
    </mat-tab>
    <mat-tab label="Endereço">
      <mat-card-content>
        <mat-card-actions class="but">
    
          <mat-card-title>
             <h1>endereços</h1>
         </mat-card-title> 
          <button class="buts" (click)=" onNoClick()"><mat-icon>clear</mat-icon></button>
        </mat-card-actions>
          <div mat-dialog-content>
              <div class="create">
                <app-drpdown [array]="enderecos"  [textField]="'rua'" [title]="'endereço'" [(ngModel)]="selectedGroup"></app-drpdown><br>
                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>CEP</mat-label>
                          <input matInput placeholder="Ex. 89253520" [(ngModel)]="cep">
                      </mat-form-field> -
                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Rua</mat-label>
                          <input matInput placeholder="Ex. rua dos lindos" [(ngModel)]="rua">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Bairro</mat-label>
                          <input matInput placeholder="Ex. Jaraguá Esquerdo" [(ngModel)]="bairro">
                      </mat-form-field> - 

                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Cidade</mat-label>
                          <input matInput placeholder="Ex. Jaraguá do Sul" [(ngModel)]="cidade">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Estado</mat-label>
                          <input matInput placeholder="Ex. Santa Catarina" [(ngModel)]="estado">
                      </mat-form-field> - 

                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Complemento</mat-label>
                          <input matInput placeholder="Ex. Apartamento 2" [(ngModel)]="complemento">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Numero</mat-label>
                          <input matInput placeholder="Ex. 115" [(ngModel)]="numero">
                      </mat-form-field>
      
                      <div mat-dialog-actions>
                        <button  class="card"mat-raised-button color="black"  (click)="putClient()">Editar</button>
                        <button class="card" mat-raised-button color="black"  (click)="clientDelete()">Deletar</button>
                      </div>
      
              </div>
          </div>
      </mat-card-content>
  </mat-tab>
  <mat-tab label="lista de endereços">
    <div class="Cliente" *ngFor="let enderecos of enderecos">
        <h1>{{enderecos.rua}} - {{enderecos.bairro}} - {{enderecos.cidade}} - {{enderecos.estado}}</h1>
      </div>
</mat-tab>
  </mat-tab-group>
    </mat-card>
