    <mat-card>
        <mat-card-content *ngIf="htmladd ==2" >
          <mat-card-actions class="but">
           <mat-card-title>
               <h1>Cadastrar</h1>
           </mat-card-title> 
            <button class="buts" (click)=" onNoClick()"><mat-icon>clear</mat-icon></button>
          </mat-card-actions>
           <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="Nome da Fantasia" [(ngModel)]="nomeFantasia">
           </mat-form-field>
             - 
            <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="CNPJ" [(ngModel)]="cnpj">
           </mat-form-field>
           <br>
            <mat-form-field class="example-full-width" appearance="fill">
             <input matInput placeholder="Razão Social" [(ngModel)]="razaoSocial">
           </mat-form-field>
             - 
            <mat-form-field appearance="fill">
                    <mat-label>Cliente Desde</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
           <mat-card-actions>
             <button class="card" mat-raised-button color="black" (click)="groupAdd()" >Cadastrar</button>
           </mat-card-actions>
        </mat-card-content>

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    
    <mat-card-content *ngIf="htmladd ==1">
      <mat-card-actions class="but">
        <mat-card-title>
        <h1>Editar/Deletar</h1>
      </mat-card-title>
        <button class="buts" (click)=" onNoClick()"><mat-icon>clear</mat-icon></button>
      </mat-card-actions>
      

      <mat-form-field class="example-full-width" appearance="fill">
         <input matInput placeholder="Insira o ID" type="number" minlength="1" required [(ngModel)]="id">
      </mat-form-field><br>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Insira a nova nome da Fantasia" type="text"  minlength="1" required [(ngModel)]="nomeFantasia">
     </mat-form-field>
     <mat-card-actions>
        <button  class="card"mat-raised-button color="black"  (click)="putGrupo()">Editar</button>
          <button class="card" mat-raised-button color="black"  (click)="groupDelete()">Deletar</button>
        </mat-card-actions>

    </mat-card-content>
    </mat-card>
